@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-weight: normal;
}

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;

}

.navbar-container {
    z-index: 50;
    padding: 10px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center; /* Center items vertically */
    opacity: 0; /* Initially hide the navbar */
    transition: opacity 0.5s ease-in-out; /* Add transition */
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden; 
    border-bottom: 3px solid black;
    justify-content: space-between;
}

.navbar-container.show {
    opacity: 1; /* Show the navbar */
    visibility: visible; /* Ensure it's visible */
}

#nav-logo {
    width: 180px;
    height: auto;
    margin-left: 100px;
}

#nav-app-button {
    font-size: x-large;
    background-color: transparent;
    border-style: solid;
    color: black;
    font-weight: 500;
    padding: 9px;
    border-radius: 18px;
    border-width: 3px;
    padding: 9px;
    margin-right: 150px;
}

#app-button {
    font-size: x-large;
    background-color: transparent;
    color: black;
    border-color: black;
    border-style: solid;
    font-weight: 500;
    padding: 9px;
    border-radius: 18px;
    border-width: 3px;
    margin-right: 150px;
    position: absolute;
    top: 25px;
    right: 60px;
}

#app-button:hover, #nav-app-button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.3s;
}


.image-section {
    position: relative;
    width: 100%;
    height: 900px; 
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

#text-overlay {
    position: absolute;
    top: 230px;
    left: 285px;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    z-index: 10;
    line-height: 60px;
    text-align: left;
    font-family: 'Kanit', sans-serif;
    font-weight: 100 !important; /* Ensure light version of Kanit is used */
}

#world {
    font-style: italic;
}

#line {
    height: 2px;
    background-color: black;
    position: absolute;
    top: 98px;
    z-index: 49;
    left: 100px;
    right: 100px;
}

#picture-logo {
    position: absolute;
    top: 10px;
    left: 150px;
    width: 200px;
    height: auto;
}

.content-section {
    background-color: white;
    height: auto;
}

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
}

#statement {
    font-size: x-large;
    margin: 70px 180px;
}

#line2 {
    height: 2px;
    background-color: black;
    z-index: 49;
    margin: 0 100px 70px 100px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 180px;
    padding-right: 180px;
}

.satelite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

#satelite {
    width: 55%;
    height: auto;
    border: 5px solid black;

}

#data-scource {
  color: black;
  font-size: xx-large;
  font-weight: 300;
}

.what {
    font-size: 60px;
    font-weight: 300;
    display: block;
}

#data-card, #ndvi, #evi, #soil-moisture, #yeild-prediction  {
    padding: 0;
}

.information-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;

}

.info-card {
    padding: 12px 40px;
}


.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 6px 20px 6px 20px;
    margin-top: 150px;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    border-bottom: 1px solid #777;
    padding-bottom: 10px;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}