<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Select AOI with Polygon</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <nav class="navbar-container">
            <a href="{{ url_for('landing') }}"><img id="nav-logo" src="../static/images/logo.jpg" alt="logo"></a>
            <a href="{{ url_for('landing') }}">
                <button id="nav-app-button">Back Home</button>
            </a>
        </nav>
    </header>
    <div class="main">
        <div id="map"></div>
        <div class="form-container">
            <form id="aoi-form" action="/app/results" method="post">
                <input type="hidden" id="aoi" name="aoi">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" required>
                <label id="end-date" for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" required>
                <button id="submit" style="background-color: white; padding: 5px; border-radius: 6px;" type="submit">Submit AOI</button>
            </form>
        </div>
    </div>

    <script src="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>